html {
    box-sizing: border-box;
    font-size: 62.5%;
    /** Reset para REMS - 62.5% = 10px de 16px **/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
    margin: 0;

}



/** Globales **/

img {
    width:100%;
     background-position: center center;
   
    
}

.contenedor {
    width: 95%;
    max-width: 120rem;
    /** = 1200px; **/
    margin: 0 auto;
}
h1,
h2,
h3,
h4 {
    font-family: 'PT Sans', sans-serif;
    margin: 0;
}

h1 {
    font-size: 4rem;

}

h2 {
    font-size: 3.8rem;
    text-align: center;
}

h3 {
    font-size: 3rem, ;
}

h4 {
    font-size: 2.6rem;
}

/******** Botones *******/
.boton {
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin: 3rem;
    display: inline-block;
    text-align: center;
    border-radius: .5rem;
    border: none;
    /*display: block;*/
    flex: 0 0 100%;*/
}
.boton-verde {
    background-color: #5ba56d;
    transition: .5s;
}
.boton-verde:hover {
    
    background-color: #71B100;
    transition: .5s;
}


/***** Header ****/
.side-header {
    background-color: #5ba56d;
    
}
.contenedor-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding-top: 3rem;
}

@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.barra a {
    text-decoration: none;
    color: #ffffff;

}

.barra h1 {

    font-weight: 400;
}
.barra h1 span {
    font-weight: 700;
}


/**  Navegacion  **/
.navegacion a {
   text-align: center;
    display: block;
    font-size: 2rem;
    color: #ffffff;
    text-decoration: none;
}
@media (min-width: 768px) {
    .navegacion a{
        display: inline-block;
        margin-right: 2rem;
    }
    .navegacion a:last-of-type {
        margin: 0;
    }
}
.navegacion a:hover {
    border-bottom: 2px solid #71B100;
}




/** Contenido Principal **/
section p {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 2rem;
}


/************** * Footer * *******************/

.site-footer {
    background-color: #333333;
    margin: 0;
}

.contenedor-footer {
    padding: 3rem 0;
    text-align: center;
}

@media (min-width: 768px) {
    .contenedor-footer {
        display: flex;
        justify-content: space-between;
    }
}

.contenedor-footer nav {
    display: none;
}

@media (min-width: 768px) {
    .contenedor-footer nav {
        display: block;
    }
}

.copyright {
    margin: 0;
    color: #ffffff;
}

/*********** Internas *************/

/** Contacto **/
.contacto p {
    font-size: 1.4rem;
    color: #4f4f4f;
    margin: 2rem 0 0 0;
}
legend {
    font-size: 2rem;
    color: #4f4f4f;
}
label {
    font-weight: 700;
    text-transform: uppercase;
    display: block;
}
input:not([type="submit"]),
textarea,
select {
    padding: 1rem;
    display: block;
    width: 100%;
    background-color: #e1e1e1;
    margin-bottom: 2rem;
    border: none;
    border-radius: 1rem;
}
input[type="radio"]{
    width: auto;
    margin: 0;
}
select {
    -webkit-appearance: none;
    appearance: none;
}
textarea {
    height: 20rem;
}
.forma-contacto {
    max-width:30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/************+ Tabla ***********/

table {
    border: .5rem dashed #e1e1e1;
    font-size: 3rem;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    text-align: center;
}


tr:nth-child(even) {background-color: #f2f2f2;}

tr:hover{
    background-color: #7095e3;
}
.video {
    padding: 1rem 0 1rem 0;
}
iframe {
    width: 100%;
    padding: 1rem;
    display: block;
}


